<div class="title_container">
  <div class="page_title">Source code of [% title %]</div>
  <div class="pdf_link"><a href="[% c.uri_for('/view',path.join('/')) %]">View documentation</a></div>
</div>

<h3>[% filename %]</h3>

<div class="verbatim_highlighted">[% pod %]</div>
